:root{
/* Primary */
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);

/* Neutral */
--Very-vark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);

/* (with 75% opacity for lightbox background) */
--Black : hsl(0, 0%, 0%);
}


/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
}
  body .overlay {
    width: 100%;
    height: 100%;
    background-color: hsl(220deg 13% 13% / 88%);
    position: absolute;
    z-index: 1;
    
}
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  
/* header */
header {
    padding: 20px 0;
    
}
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::before{
    content: "";
    position: absolute;
    width: calc(100% - (30px));
    height: 1px;
    background-color: hsl(220, 14%, 75%);
    bottom: -20px;
    left: 13.5px;
}
  header .container .left {
    display: flex;
    align-items: center;
}
 

@media(max-width:374px){
  ul {
    position: absolute;
    top: 24px;
    left: 16px;
    list-style: none;
    padding: 0;
    padding: 16px;
    background-color: hsl(223deg 64% 98%);
    border-radius: 6px;
    /* background-color: blue; */
    /* height: 50vh; */
    z-index: 1;
    display: none;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
header .container .left ul li:not(:last-child) {
  margin-right: 0px;
}
header .container .left ul li {
  transition: .5s;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  padding: 9px 9px 9px 0px;
}
header .container .left ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: hsl(26deg 100% 55%);
  bottom: 5px;
  left: 0;
  transition: .5s;
}
ul img#xxx {
  margin-bottom: 23px;
}
 

body .overlay {
  width: 100%;
  height: 100%;
  background-color: hsl(220deg 13% 13% / 88%);
  position: absolute;
  z-index: 1;
  display: none;
}

section .container .new {
  display: none;
  position: absolute;
  top: 14px;
  /* top: 18px; */
  z-index: 2;
  max-width: 380px;
}

.spans {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header .container .right .full {
  position: absolute;
  bottom: -205px;
  left: -160px;
  background-color: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 5.1px 0px hsl(219deg 9% 45% / 22%);
  z-index: 1;
}
} 

 @media(min-width:375px) and (max-width:767px){

  header .container .left ul li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: hsl(26deg 100% 55%);
    bottom: -2px;
    left: 0;
    transition: .5s;
}

  ul {
    position: absolute;
    top: 24px;
    left: 16px;
    list-style: none;
    padding: 0;
    padding: 16px;
    background-color: hsl(223deg 64% 98%);
    border-radius: 6px;
    /* background-color: blue; */
    /* height: 50vh; */
    z-index: 1;
    display: none;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
ul img#xxx {
  margin-bottom: 23px;
}
header .container .left ul li:not(:last-child) {
  margin-right: 0px;
}
header .container .left ul li {
  transition: .5s;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  padding: 9px 9px 9px 0px;
}

    header .container .left ul li::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 3px;
      background-color: hsl(26deg 100% 55%);
      bottom: 5px;
      left: 0;
      transition: .5s;
  }

  body .overlay {
    width: 100%;
    height: 100%;
    background-color: hsl(220deg 13% 13% / 88%);
    position: absolute;
    z-index: 1;
    display: none;
  }
  
  section .container .new {
    display: none;
    position: absolute;
    top: 14px;
    /* top: 18px; */
    z-index: 2;
    max-width: 380px;
  }

  
.spans {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header .container .right .full {
  position: absolute;
  bottom: -205px;
  left: -163px;
  background-color: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 5.1px 0px hsl(219deg 9% 45% / 22%);
  z-index: 1;
}
  
} 

@media(min-width:768px){
 header .container .left ul {
    list-style: none;
    display: flex;
    color: var(--Grayish-blue);
    letter-spacing: -1px;
    font-size: 15px;
}
 header .container .left ul li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: hsl(26deg 100% 55%);
    bottom: -34px;
    left: 0;
    transition: .5s;
  }
 header .container .left ul img{
  display: none;
}
}

  header .container .left ul li{
    transition: .5s;
    font-weight: 700;
    position: relative;
    cursor: pointer;
  }
  
  header .container .left ul li:hover{
    color:black;
}
  header .container .left ul li:hover::before{
    width: 100%;
}
  header .container .left ul li:not(:last-child){
   margin-right: 20px;
}
  header .container .right {
    display: flex;
    align-items: center;
    position: relative;
}
  header .container .right .becart{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: hsl(26deg 100% 55%);
    border-radius: 50%;
    left: 7px;
    color: white;
    top: -7px;
    text-align: center;
}

  header .container .right .caa{
    position: absolute;
    bottom: -186px;
    left: -132px;
    background-color: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 5.1px 0px hsl(219deg 9% 45% / 22%);
}
  header .container .right .caa h2 {
    margin: 0;
    font-size: 20px;
    padding: 12px;
}
  header .container .right .caa hr {
    margin: 0;
}
  header .container .right .caa div{
    text-align: center;
    padding: 55px;
    font-weight: 600;
    font-size: 13px;
  }
  header .container .right img.avatar{
    margin-left: 25px;
    width: 40px;
    /* transition: .5s; */
}
  header .container .right img.avatar:hover{
    border-radius: 50%;
    outline: 2px solid hsl(26deg 100% 55%);
    /* transition: .5s; */

  }


  header .container .right .full{
    position: absolute;
    bottom: -205px;
    left: -132px;
    background-color: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 5.1px 0px hsl(219deg 9% 45% / 22%);
  }
  header .container .right .full h2{
    margin: 0;
    font-size: 20px;
    padding: 12px;
  }
  header .container .right .full hr{
    margin: 0;
  }
  header .container .right .full .box {
    padding: 20px;
}
  header .container .right .full .box .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}
  header .container .right .full .box .parent img:first-child{
    width: 40px;
    border-radius: 5px;
}
  header .container .right .full .box .parent .info {
    font-size: 12px;
    margin: 0 10px;
}
  header .container .right .full .box .parent .info span.title{
    font-weight: bolder;
    font-size: 9px;
    line-height: 2;
}
  header .container .right .full .box .parent .info span.group{
    font-size: 11px;
}
  header .container .right .full .box .parent .info span.group .sum{
    font-weight: 700;
}
header .container .right .full .box .parent img:last-child{
  /* width: 50px;  */
    /* width: 30px; */
    width: 25px;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
}
header .container .right .full .box button{
  margin-top: 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 15px 0;
  border-radius: 7px;
  background-color: hsl(26deg 100% 55%);
  color: white;
}



/* header */

/* section */
section {
  margin-top: 60px;
}
section .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section .container .pic {
  flex-basis: 30%;
}

section .container .pic .top img{
  max-width: 100%;
  border-radius: 10px;
  min-width: 282px;
  min-height: 282px;
  cursor: pointer;
}
section .container .pic .bottom {
  display: grid;
  padding-top: 20px;
}
section .container .pic .bottom .pics {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(54px, 1fr));
    gap: 20px;
}

section .container .pic .bottom .pics img{
  max-width: 100%;
  border-radius: 10px;
}

section .container .text {
  flex-basis: 37%;
}
section .container .text small {
  color: hsl(26deg 100% 55%);
  font-weight: 700;
  text-transform: uppercase;
}
section .container .text h2 {
  font-size: 33px;
}
section .container .text p {
  color: hsl(219deg 9% 45%);
}
section .container .text .spans .sto span:first-child {
  font-weight: 900;
}
section .container .text .spans .sto span:last-child{
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
  color: hsl(26deg 100% 55%);
}
section .container .text .spans del {
  font-size: 13px;
  color: hsl(220deg 14% 75%);
  font-weight: 700;
  margin-top: 11px;
  display: block;
  margin-bottom: 25px;
}
section .container .text footer {
  display: flex;
}
section .container .text footer .id .mp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(220deg 14% 75% / 32%);
  padding: 7px 10px;
  border-radius: 5px;
}
section .container .text footer .id .mp img:first-child{
 margin-right: 25px;
}
section .container .text footer .id .mp img:last-child{
 margin-left: 25px;
}
section .container .text footer .id .mp input{
  width: 11px;
  border: none;
  background-color: hsl(220deg 14% 75% / 32%);
  background-color: transparent;
}
section .container .text footer .id .mp input:focus{
outline: none;
}
section .container .text footer button {
  background-color: hsl(26deg 100% 55%);
  border-radius: 5px;
  border: none;
  margin-left: 12px;
  width: 100%;
  color: white;
  box-shadow: 0px 7px 14px 0px hsl(26deg 100% 55%);
  cursor: pointer;
}






/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* section */

@media(max-width:374px){

    header .container::before {
     display: none;
    }

  section .container {
    flex-direction: column;
    padding-left:0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
section .container .pic .bottom {
  display: none;
  
}
section {
  margin-top: -35px;
  /* margin-top: 0; */
}
section .container .pic .top img {
  border-radius: 0;
}
section .container .text {
  /* flex-basis: 45%; */
  flex-basis: 37%;
  margin: 15px 15px;
}

section .container .text footer {
  display: block;
}
section .container .text footer button {
  background-color: hsl(26deg 100% 55%);
  border-radius: 5px;
  border: none;
  margin-left: 0;
  margin-top: 5px;
  padding: 7px 10px;
  width: 100%;
  color: white;
  box-shadow: 0px 7px 14px 0px hsl(26deg 100% 55%);
  cursor: pointer;
}

section .container .pic .narrow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row-reverse;
  margin: 0 20px;
}
}

@media(min-width:375px) and (max-width:767px){


    header .container::before {
     display: none;
    }
  section .container {
    flex-direction: column;
    padding-left:0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
section .container .pic .bottom {
  display: none;
  
}
section {
  margin-top: -35px;
}
section .container .pic .top img {
  border-radius: 0;
}
section .container .text {
  flex-basis: 37%;
  margin: 15px 15px;
}

section .container .pic .narrow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row-reverse;
  margin: 0 20px ;
}
}

div.ttrr,
div.ttll  {
  background-color: hsl(223deg 64% 98%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  top: 200px;
}

div.ttrr img,
div.ttll img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden{
  display: none;
}

section .container .new {
  position: absolute;
  top: 73px;
  z-index: 2;
  max-width: 380px;
}
section .container .new .x{
  text-align: end;
  margin-bottom: 10px;
}
section .container .new .x img:hover{
    background-color: hsl(26deg 100% 55%);
}
section .container .new .main img{
  width: 384px;
  border-radius: 15px;
}
section .container .new .arrow{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
section .container .new .arrow  .tr {
  background-color: hsl(223deg 64% 98%);
  position: absolute;
  top: 41%;
  right: -13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
section .container .new .arrow  .tr img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section .container .new .arrow .tl {
  background-color: hsl(223deg 64% 98%);
  position: absolute;
    top: 41%;
    left: -13px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
section .container .new .arrow .tl img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section .container .new .sp{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 20px;
  position: relative;
  left: 61%;
  transform: translateX(-50%);
  margin-top: 30px;
}
section .container .new .sp img{
  max-width: 100%;
  border-radius: 10px;
}

.narrow {
  display: none;
}
